{% extends 'base.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block content %}
<h1>modification de mot de passe</h1>
{% if notification %}{
    <div class="alert alert-danger"> {{notification}}</div>
}
{% endif %}
{{form(form)}}
{% endblock %}